

.container{
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 2px solid firebrick; */
    padding-top: 70px;

}

.mivzakim {
    /* border: 2px solid firebrick; */
    width: 25%;

}

.containerCartArticle {
    /* border: 2px solid firebrick; */
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
    /* 
    height: 100%;
    direction: rtl;
    font-size: 13px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;

}

.leyout {
    margin: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --main-color: rgb(13, 13, 81)
}

