.container {
    width: 100%;
    height: 100%;
}

.containerCartArticle {
    margin: 10px;
    /* border: 2px solid firebrick; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    justify-content: right;
    font-size: 13px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.leyout {
    margin: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --main-color: rgb(13, 13, 81)
}