
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.container{
    // width: 100%;
    // height: 100%;
    display: flex;
    /* border: 2px solid firebrick; */
    // padding-top: 70px;
    // padding-bottom: 70px;

}

.mivzakim {
    /* border: 2px solid firebrick; */
    // width: 25%;

}

.containerCartArticle {
    /* border: 2px solid firebrick; */
    // width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    // margin: 5px;
    justify-content:     space-evenly
    ;
    /* 
    height: 100%;
    direction: rtl;
    font-size: 13px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;

}

.leyout {

    // margin: 40px;

}

a {
    color: inherit;
    text-decoration: none;
}



:root{
    --main-color: rgb(13, 13, 81)
}
body, html {
    margin: 0;
    padding: 0;
    // height: 100%;
  }
  
  .wrapper {
    min-height: 100vh; /* Ensure the wrapper takes up the full viewport height */
    display: flex;
    flex-direction: column; /* Lay out the header, content, and footer vertically */
  }
  
  .content {
    flex: 1; /* Allow the content to grow and take up remaining space */
  }

